.event-container {
    width: 100vw;
  height: 600vh;
  color: white;
  background-color: #4889E0;
}
.event {
    width: 90vw;
    height: 90vh;
    align-items: left;
    padding: 1rem 2rem;
    margin: 0 0 0 1rem;
    font-family: 'Playfair_Display';
    font-size: 20px;
    color: white;
}

.event-container h1 {
    margin: 1rem 1.5rem;
}
.event-container h2 {
    margin: 1rem 1.5rem;
}
.event-container h3 {
    margin: 1rem 1.5rem;
}
.event-container p {
    justify-content: left;
  align-items: left;
}
@media(max-width: 570px){
.event {
    height: 800vh;
    color: white;
    background-color: #4889E0;
    margin-right: 10px;
    margin-left: 10px;
}
.event-container h1 {
    font-size: 18px;
}
.event-container h2 {
    font-size: 16px;
}
.event-container h3 {
    font-size: 12px;
}
.event-container p {
    font-size: 12px;
}
.event-container b {
    font-size: 14px;
}
.event-container li {
    font-size: 12px;
}
}