.event-container {
    width: 100vw;
  height: 730vh;
  color: white;
  background-color: #4889E0;
  padding: 10px 0 0 0;
  margin-right: 10px;
}
.event {
    font-family: 'Playfair_Display';
    font-size: 20px;
    color: white;
    margin: 0 1rem 0 1rem;
}

@media(max-width: 570px){
.event {
    height: 800vh;
    color: white;
    background-color: #4889E0;
    padding: 0 10px 0 10px;
    
}
.event-container h1 {
    font-size: 18px;
}
.event-container h2 {
    font-size: 16px;
}
.event-container h3 {
    font-size: 12px;
}
.event-container p {
    font-size: 12px;
}
.event-container b {
    font-size: 14px;
}
.event-container li {
    font-size: 12px;
}
}
@media(max-width: 768px){ 
    .event-container {
        height: 530vh;
        background-color: #4889E0;
    }
    .event-container h1 {
        font-size: 22px;
    }
    .event-container h2 {
        font-size: 18px;
    }
    .event-container h3 {
        font-size: 16px;
    }
    .event-container p {
        font-size: 14px;
    }
    .event-container b {
        font-size: 16px;
    }
    .event-container li {
        font-size: 14px;
    }
}
