@font-face {
  font-family: "Playfair_Display";
  src: local("Playfair_Display"),
  url("../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: regular;
}

:root {
    --main-color: #F1FAEE;
    --text-color: #F1FAEE;
    --text-color-light: #F1FAEE;
    --border-color: #eee;
    --bg-color: #4889E0;
    --neutral-color: #8627E0;
    --margin: 100px 0 0 0;
  }
  
  html,
  body,
  body > div { /* the react root */
    padding: 0;
    height: 100%;
    text-transform: capitalize;
  }
  
  h2 {
    margin: 0;
    font-size: 14px;
    text-transform: capitalize;
  }
  
  ul {
    margin: 0;
    padding: 0 0 0 1.5em;
    text-transform: capitalize;
  }
  
  b { 
    margin-right: 3px;
    text-transform: capitalize;
  }
  
  i {
    text-transform: capitalize;
  }
  
  .demo-app {
    display: flex;
    min-height: 50%;
    font-size: 12px;
    text-transform: capitalize;
    margin: 50px 0 0 0;
  }
  
  .demo-app-sidebar {
    width: 300px;
    line-height: 1.5;
    background: #1D3557;
    color: #F1FAEE;
    border-right: 1px solid #d3e2e8;
    text-transform: capitalize;
  }
  
  .demo-app-sidebar-section {
    padding: 2em;
    text-transform: capitalize;
  }
  
  .demo-app-main {
    flex-grow: 1;
    padding: 3em;
    background-color: #F1FAEE;
    font-size: 14px;
    color: #457B9D;
    font-family: 'Playfair_Display';
    text-transform: capitalize;
    /* margin: .5em 0 10em 0; */
  }
  
  .fc { 
    max-width: 1100px;
    margin: 0 auto;
    text-transform: capitalize;
  }