@font-face {
    font-family: "Playfair_Display";
    src: local("Playfair_Display"),
    url("../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
    font-weight: regular;
  }

.meet {
  width: 100vw;
  height: 150vh;
  padding: 1rem 0;
  background-color: #4889E0;
    font-family: 'Playfair_Display';
}
.meet h1 {
  margin: .5rem;
}
.meet h2 {
  margin: .5rem;
}
.meet p {
  margin: .5rem;
}