@font-face {
    font-family: "Playfair_Display";
    src: local("Playfair_Display"),
    url("../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
    font-weight: regular;
  }

.meet {
  width: 100vw;
  height: 270vh;
  padding: 1rem 0;
  background-color: #4889E0;
    font-family: 'Playfair_Display';
}

.landr {
  height: 18%;
  width: 25%;
  margin: 0 0 0 2rem;
}
@media(max-width: 768px){
  .meet {
    height: 300vh;
    padding-bottom: 20px;
  }
  .meet h1 {
    font-size: 22px;
  }
  .meet h2 {
    font-size: 18px;
  }
  .meet p {
    font-size: 16px;
  }
  .landr {
    height: 14%;
  }
}
@media(max-width: 570px){
  .meet {
    height: 300vh;
    background-color: #4889E0;
    padding: 10px 5px 40px 5px;
  }
  .meet h1 {
    font-size: 18px;
  }
  .meet h2 {
    font-size: 16px;
  }
  .meet p {
    font-size: 14px;
  }
  .landr {
    height: 8%;
  }
}