@font-face {
  font-family: "AnnabelleJF";
  src: local("AnnabelleJF"),
  url("../../fonts/Annabelle/AnnabelleJF.ttf") format("truetype");
  font-weight: regular;
}
@font-face {
  font-family: "Playfair_Display";
  src: local("Playfair_Display"),
  url("../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "Liu_Jian_Mao_Cao";
  src: local("Liu_Jian_Mao_Cao"),
  url("../../fonts/Liu_Jian_Mao_Cao/LiuJianMaoCao-Regular.ttf") format("truetype");
  font-weight: regular;
}

.header-container {
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #8627E0;
}
.header-container h1 {
  font-family: 'AnnabelleJF';
  margin: 1.5rem;
}
.dropbtn {
  background-color: #8627E0;
  font-family: 'AnnabelleJF';
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #4889E0;
  text-decoration: none;
}
.dropdown {
  margin-right: 1rem;
  text-decoration: none;
  position: relative;
  outline: none;
  box-sizing: border-box;
  color: white;
  font-size: 28px;
  background-color: #8627E0;
  width: 300px;
}
.dropdown-content {
  text-decoration: none;
  position: absolute;
  z-index: 10;
}
.nav-links {
  text-decoration: none;
  color: white;
  padding: .5rem;
  display: flex;
  align-items: left;
  background: #8627E0;
} 
.dropdown .nav-links {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  z-index: 10;
} 

@media(max-width: 320px){
  .header-container {
    font-size: 8px;
  }
  h1 {
    font-size: 14px;
  }
  .dropbtn {
    background-color: #8627E0;
    font-family: 'AnnabelleJF';
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #4889E0;
    text-decoration: none;
  }
  .dropdown {
    margin-right: 1rem;
    text-decoration: none;
    position: relative;
    outline: none;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    background-color: #8627E0;
    width: 100px;
  }
  .dropdown-content {
    text-decoration: none;
    position: absolute;
    z-index: 10;
  }
  .nav-links {
    text-decoration: none;
    color: white;
    padding: .5rem;
    display: flex;
    align-items: left;
    background: #8627E0;
  } 
  .dropdown .nav-links {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    z-index: 10;
  }
}
