@font-face {
  font-family: "AnnabelleJF";
  src: local("AnnabelleJF"),
  url("../../fonts/Annabelle/AnnabelleJF.ttf") format("truetype");
  font-weight: regular;
}
@font-face {
  font-family: "Playfair_Display";
  src: local("Playfair_Display"),
  url("../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: regular;
}
header {
  text-decoration: none;
}
.container {
  text-decoration: none; 
   outline: none;
   box-sizing: border-box;
   background: #8627E0;
   display: flex;
   height: 90px;
   padding: 10px;
  
  }
  h1 {
    color: white;
    font-size: 40px;
    font-family: "AnnabelleJF";
    margin: 1rem;
  }

  .nav-links {
   text-decoration: none;
   color: white;
   display: flex;
   flex-direction: space-between;
   background: #8627E0;
   margin: 2rem .5rem .5rem 0;
   font-family: 'Playfair_Display';

   }  