@font-face {
  font-family: "Berkshire_Swash";
  src: local("Berkshire_Swash"),
  url("../../fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf") format("truetype");
  font-weight: regular;
}

.container {
    /* position: fixed; */
    text-decoration: none; 
   outline: none;
   box-sizing: border-box;
   background: #8627E0;
   display: center;
   height: 20px;
   padding: 10px 0 0 0;
   color: white;
   align-items: center;
   font-size: 60px;
   font-family: "Berkshire_Swash";
  }

  h1{
    text-align: center;
  }

  .nav-links {
   text-decoration: none;
   color: white;
   padding: .5rem;
   display: flex;
   align-items: left;
   background: #8627E0;
   z-index: 10;
 }  
 .container .nav-links {
   padding: .5rem .5rem .3rem .5rem;
   display: grid;
   grid-template-columns: 1fr;
   flex-direction: column;
   margin: 0 0 0 40px;
   z-index: 10;
 } 