@font-face {
    font-family: "Playfair_Display";
    src: local("Playfair_Display"),
    url("../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
    font-weight: regular;
  }
.shop {
      width: 100vw;
      height: 320vh;
      background-color: #4889E0;
}
.shop h1 {
      margin: 1rem;
}
.shop h2 {
    margin: 1rem;
}
.shop p {
    margin: 1rem 1.5rem;
}
.shop b {
    margin: 1rem 1.5rem;
}
.skirt {
    height: 13%;
    width: 10%;
    margin: 0 0 0 2rem;
}

.kraken {
    height: 11%;
    width: 20%;
    margin: 0 0 0 2rem;
}