.tentacles {
  text-decoration: none;
    width: 100vw;
    padding: 80px 0 20px 0;
}
.footer {
  text-decoration: none;
  padding: 5px;
}
  .nav-links-f {
    text-decoration: none;
    padding: 5px;
    margin: 5px;
  }
