@font-face {
    font-family: "Playfair_Display";
    src: local("Playfair_Display"),
    url("../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
    font-weight: regular;
  }
  .contact-us {
    box-sizing: border-box;
    padding: 100px 20px;
}

.contact-us h1 {
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
    color: lightgray;
}

.contact-us h2 {
    font-size: 32px;
}

.contact-us h3 {
    font-size: 24px;
}

.contact-us-info {
    box-sizing: border-box;
    padding: 20px 0;
    margin-bottom: 40px;
    border-top: 1px solid #FF6400;
}


.contact-us-form {
    display: flex;
    flex-direction: column;
}

.contact-us-form input {
    height: 44px;
    box-sizing: border-box;
    padding-left: 10px;
    border: 1px solid #646464;
    border-radius: 3px;
    font-size: 15px;
}

.contact-us-form textarea {
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #646464;
    border-radius: 3px;
    font-size: 15px;
    font-family: sans-serif;
}

.contact-us-form div {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name-input {
    width: 47%;
    position: relative;
}

.name-input input {
    height: 44px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 15px;
}

.name-span {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    color: #646464;
}

.message-sent-section {
    text-align: center;
}

@media(min-width: 641px){
    .contact-us {
        padding: 150px 75px 100px 75px;
    }

    .contact-us h1 {
        font-size: 75px;
    }

    .contact-us-image {
        height: 375px;
    }
}

@media(min-width: 761px){
    .contact-us {
        padding: 150px 150px 100px 150px;
    }
}

@media(min-width: 901px){
    .contact-us {
        padding: 200px 200px 100px 200px;
    }
}

@media(min-width: 1101px){
    .contact-us {
        width: 1100px;
        margin: 0 auto;
    }
}