@font-face {
  font-family: "Playfair_Display";
  src: local("Playfair_Display"),
  url("./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: regular;
}
 
.App {
  /* text-align: center; */
  background-color: #4889E0;
  color: white;
  text-decoration: none;
  height: calc(150vh - 100px);
}

.footer {
 text-decoration: none;
 font-family: 'Playfair_Display';
 background-color: #8627E0;
 color: white;
 height: 100px;
 padding: 10px;
}
.nav-links-f {
  text-decoration: none;
  color: white;
}
@media(min-width: 768px){

}
@media(min-width: 570px){
  .footer {
    font-size: 10px;
    height: 50px;
    padding: 0;
  }
  .nav-links-f {
    font-size: 10px;
  }
  .app {
    height: 600px;
  }
}