.font-face-gm {
  font-family: "BerkshireSwash"
 }
 
       
}
.App {
  text-align: center;
  background-color: #4889E0;
  color: white;
  text-decoration: none;
}

.footer {
 text-decoration: none;
}
.nav-links {
  text-decoration: none;
}